<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&display=swap" rel="stylesheet">
    <title>Error</title>
    
</head>
<body>
    <div class="content-container">
        <div class="content">
            <h1>Something went wrong</h1>
            <p>{{ error_message }}</p>
            <a href="/" class="button">Return to Homepage</a>
        </div>
    </div>
    <footer>
        <p>© 2024 Yggbranch.dev - Explore your music identity through SyncBranch
            <a href="https://github.com/cagatay-softgineer/SyncBranch" target="_blank">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" width="30" height="30">
            </a>
        </p>    
    </footer>
    <div class="logo-container">
        <a href="/"> 
        <img src="/static/icons/logo.png" alt="Project Logo">
        </a>
    </div>
</body>
</html>
