<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&display=swap" rel="stylesheet">
    <title>SyncBranch - Discover Your Musical Identity</title>
    
</head>
<body>
    <div class="content-container">
        <div class="content main-content">
            <h1>Welcome to SyncBranch</h1>
            <p>
                Discover your musical identity, explore personalized playlists, and connect with others who share your unique taste. 
                Dive into your audio profile and let the music reveal who you truly are.
            </p>

            <!-- Button links to different features of the app -->
            <div class="button-container">
                <a href="/all-users" class="button">Explore All Users</a>
                <a href="/user-profile/xyypabyfrp3z0le7niauo8s0l" class="button">My Profile</a>
                <a href="/audio-features" class="button">Discover Audio Features</a>
                <a href="/artists" class="button">Discover Artists</a>
                <a href="/tracks-embeds" class="button">Embed Tracks</a>
            </div>
        </div>
    </div>

    <footer>
        <p>© 2024 Yggbranch.dev - Explore your music identity through SyncBranch
            <a href="https://github.com/cagatay-softgineer/SyncBranch" target="_blank">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" width="30" height="30">
            </a>
        </p>    
    </footer>

    <div class="logo-container">
        <a href="/"> 
        <img src="/static/icons/logo.png" alt="Project Logo">
        </a>
    </div>

</body>
</html>
