<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="content-container">
        <div class="content main-content">
    <h1>Welcome to the Social Media App</h1>
    <a href="/profile">View Profile</a><br>
    <a href="/messaging">Messages</a><br>
    <a href="/friendship">Friendship Requests</a><br>
    <a href="/logout">Logout</a>
</div></div>
</body>
</html>
